html {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: justify;
    scroll-behavior:smooth;
}
body {
    background-color: #22282c;
    margin: 10px;
  }
  aside{
      margin:0 4px;
  }
  footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    align-items: center;
    margin: 50px -10px -10px -10px;
  }
  footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer img{
    height: 2em;
    width: auto;
  }
  footer a{
    color: #22282c;
  }
    footer p {
    color: #22282c;
  }
  footer div{
      margin:10px
  }
  h1 {
    color: #09c2ff;
    text-align: center;
    
    font-weight: 100;
  }
  h2 {
      color:#09c2ff;
  }
  a {
      color: white;
      text-decoration: none;
  }
  a:hover{
    color:#09c2ff;
    font-weight: 600;
  }
  header{
      display: flex;
  }
  main{
      display: flex;
  }
  .main{
      width: 70%;
      margin:0 4px;
  }
  aside{
      width: 30%;
  }
  .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10vh;
  }
  .header_photo{
    width: 30%;
    text-align: center;
  }
  .header_photo img {
    border: 2px solid #09c2ff;
    border-radius: 50%;
    height: 310px;
    width: 310px;
  }
  .header_menu{
    display: flex;
  }
  .header_nav{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .header_nav .name{
      font-size: 2.2em;
      line-height: 1em;

  }
  ul{
    display: flex;
    flex-wrap: wrap;    
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .header-menu li{
    display: list-item;
    margin-left: 20px;
    font-size: 1.3em;
  }
  .header_menu li a{
      
    color:#09c2ff;
  }
  .text-main ul {
    flex-direction: column;
}
.text-main li p{
    margin: 0;
    padding: 0;
}
.text-main li li:last-child{
   margin-bottom: 50px;
}
.text-main li li p{
    margin-left: 20px;
    padding: 0px 0 5px 50px;
}
.text-main li li:first-child{
    margin-top: 20px;
}
  .text-divider{
    text-align: end;
    color: white;
    margin-top: 3.5em;
  }
  .line-divider{
    height: 1px;
    width: 100%;
    margin-bottom: 50px;
    background-color: white;
  }
  .text-main{
    font-size: 1.2em;
    color: white;
  }
  pre{
    font-size: 1.2em;
    color:white;
    overflow: auto;
  }
  .code-text{
    color:#b294bb;
  }
.code-dif{
    color: #de935f;
}
.code-var{
    color:#81a2be;
}
.code-bool{
   color: #dc7069;
}
.contacts{
    line-height: 1.5em;
}
.contacts a{
    margin-left:2em;
}
.svg-insert:before{
    position: absolute;
    content: "";
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.2em;
    height: 1.2em;
}
.ico-git:before{
    background-image: url('../icons/icons8-github.svg');
}
.ico-discord:before{
    background-image: url('../icons/icons8-discord.svg');
}
.ico-gmail:before{
    background-image: url('../icons/icons8-gmail-logo.svg');
}
.ico-telega:before{
    background-image: url('../icons/icons8-telegram-app.svg');
}
.bold{
    font-weight: 600;
}
article{
    margin:5px;
}
article img{
    width: 100%;
    height: auto;
    image-rendering:pixelated;
    filter: grayscale(100%);
}
article img:hover{
    filter: grayscale(20%);
}

.article{
    display: flex;
    width: 100%;
}
@media screen and (max-width: 1070px) {
h1{
    font-size: 1.5em;
    line-height: 1.1em;
}
.header-menu li{
    display: list-item;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 920px) {
ul{
    justify-content: center;
}
header, .container{
    flex-direction: column;
}
.header_nav{
    line-height: 2em;
}
.header-menu li{
    font-size: 1.3em;
  }
aside, .main{
    width: 100%;
}
.header_nav{
    width: 100%;
    align-items: center;
    margin-top: 30px;
}
.header_photo{
    width: 100%;
}
.text-main li li p {
    padding: 0px 0 5px 10px;
}
}