* {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: justify;
}
body {
    background-color: #262a2b;
    margin: 10px;
  }
  article{
      margin:0 4px;
  }
  aside{
      margin:0 4px;
  }
  footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    margin: -10px;
  }
  footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer img{
    height: 2em;
  }
  footer a{
    color: #262a2b;
  }
    footer p {
    color: #262a2b;
  }
  footer div{
      margin:10px
  }
  h1 {
    color: #09c2ff;
    text-align: center;
    
    font-weight: 100;
  }
  h2 {
      color:#09c2ff;
  }
  a {
      color: azure;
      text-decoration: none;
  }
  a:hover{
    color:#09c2ff;
    font-weight: 600;
  }
  header{
      display: flex;
  }
  main{
      display: flex;
  }
  article{
      width: 70%;
  }
  aside{
      width: 30%;
  }
  .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10vh;
  }
  .header_photo{
    width: 30%;
    text-align: center;
  }
  .header_photo img {
      border: 0px;
      border-radius: 50%;
      height: 320px;
      width: 320px;
  }
  .header_menu{
    display: flex;
  }
  .header_nav{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .header_nav .name{
      font-size: 2.2em;
      line-height: 1em;

  }
  .nav{
      display: flex;
      flex-direction: column;
  }
  ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .header-menu li{
    display: list-item;
    margin-left: 20px;
    font-size: 20px;
  }
  .header_menu li a{
      
    color:#09c2ff;
  }
  .text-main ul {
    flex-direction: column;
}
.text-main li p{
    margin: 0;
    padding: 0;
}
.text-main li li:last-child{
   margin-bottom: 50px;
}
.text-main li li p{
    margin-left: 20px;
    padding: 0px 0 5px 50px;
}
.text-main li li:first-child{
    margin-top: 20px;
}
  .text-divider{
      text-align: end;
      color: azure;
      margin-top: 3.5em;
  }
  .line-divider{
    height: 1px;
    width: 100%;
    margin-bottom: 50px;
    background-color: #ffffff;
  }
  .text-main{
    font-size: 1.2em;
    color: azure;
  }
  pre{
    font-size: 1.2em;
    color:#ffffff
  }
  .code-text{
    color:#b294bb;
  }
.code-dif{
    color: #de935f;
}
.code-var{
    color:#81a2be;
}
.code-bool{
   color: #dc7069;
}
.contacts{
    line-height: 1.5em;
}
.contacts a{
    margin-left:2em;
}
.svg-insert:before{
    position: absolute;
    content: "";
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.2em;
    height: 1.2em;
}
.ico-git:before{
    background-image: url('../icons/icons8-github.svg');
}
.ico-discord:before{
    background-image: url('../icons/icons8-discord.svg');
}
.ico-gmail:before{
    background-image: url('../icons/icons8-gmail-logo.svg');
}
.ico-telega:before{
    background-image: url('../icons/icons8-telegram-app.svg');
}
.bold{
    font-weight: 600;
}