body {
    background-color: #262a2b;
  }
  h1 {
    color: #09c2ff;
    text-align: center;
  }
  h2 {
      color:#09c2ff;
  }
  a {
      color: azure;
      text-decoration: none;
  }
  a:hover{
      
    color:#09c2ff;
  }
  header{
      display: flex;
  }
  main{
      display: flex;
  }
  article{
      width: 70%;
  }
  aside{
      width: 30%;
  }
  .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10vh;
  }
  .header_photo{
    width: 30%;
    text-align: center;
  }
  .header_photo img {
      border: 0px;
      border-radius: 50%;
  }
  .header_menu{
    display: flex;
  }
  .header_nav{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .header_nav .name{
      font-size: 2.2em;
      line-height: 1em;

  }
  .nav{
      display: flex;
      flex-direction: column;
  }
  ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .header-menu li{
    display: list-item;
    margin-left: 20px;
    font-size: 20px;
  }
  .header_menu li a{
      
    color:#09c2ff;
  }
  .text-main ul {
    flex-direction: column;
}
.text-main li p{
    margin: 0;
    padding: 0;
}
.text-main li:last-child{
   margin-bottom: 50px;
}
.text-main li li p{
    margin-left: 20px;
    padding: 0px 0 5px 50px;
}
.text-main li li:first-child{
    margin-top: 20px;
}
  .text-divider{
      text-align: end;
      color: azure;
      margin-top: 4em;
  }
  .line-divider{
    height: 2px;
    width: 98%;
    margin-bottom: 20px;
    background-color: #ffffff;
  }
  .text-main{
    font-size: 1.2em;
    color: azure;
  }
  pre{
    background-color: azure;  
    
    font-size: 1.2em;
  }
  .code-text{
    color:#b294bb;
  }
.code-dif{
    color: #de935f;
}
.code-var{
    color:#81a2be;
}
.code-bool{
   color: #dc7069;
}